<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
        
    <wb-module deploy-name="GlobalExchange">
                
        <wb-resource deploy-path="/" source-path="/webContent" tag="defaultRootSource"/>
                
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <dependent-module archiveName="ojdbc8-21.7.0.0.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/C:/Users/bpadala/Downloads/ojdbc8-21.7.0.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="ojdbc8.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/C:/Users/bpadala/Downloads/ojdbc8.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="ojdbc11.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/C:/Users/bpadala/Downloads/ojdbc11.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
                
        <property name="context-root" value="GlobalExchange"/>
                
        <property name="java-output-path" value="/GlobalExchange/build/classes"/>
            
    </wb-module>
    
</project-modules>
